.container{
    background-color: #d85ba4;
    width: 70%;
    height: 70%;
    margin: 50px auto;
    border-radius: 12px;
}
#btn{
    margin: 230px 0 0 430px;
    padding: 10px;
    background-color: rgb(24, 24, 24);
    color: blanchedalmond;
    border: none;
    border-radius: 13px;
}
p{
    position: fixed;
    top: 170px;
    left: 460px;
    background-color: rgb(46, 46, 46);
    color: blanchedalmond;
    width: fit-content;
    font-size: 32px;
    padding: 15px;
    border-radius: 14px;
}